// Breakpoints
$tablet: 600px;
$desktop: 1240px;
<<<<<<< HEAD

// Fonts
$base-font: "Montserrat, sans-serif";
$code-font: "Yellowtail", cursive;
=======
>>>>>>> 397b17ff921531db8857eee8dc607e3fb522d08b
